@use "global" as *;

.layout-breadcrumb {
    margin-top: rem(8);
}

.layout-breadcrumb--404 {
    padding-top: rem(88);
    background: $green;

    @include mq(md) {
        padding-top: rem(98);
    }
}