@use "global" as *;


.blog {
    position: relative;
}

.blog::after {
    @include mq(md) {
        position: absolute;
        content: '';
        background-image: url(../images/common/blog_main.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        top: 0;
        left: 0;
        height: rem(500);
        z-index: -2;
    }
}

.blog__content {
    position: relative;
    padding-left: rem(6);
    padding-right: rem(6);
    margin-left: auto;
    margin-right: auto;
    max-width: rem(600);

    @include mq(md) {
        padding: 0;
        max-width: none;
    }
}

.blog__content::before {
    @include mq(md) {
        position: absolute;
        background-image: url(../images/common/fish1.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        width:rem(437) ;
        height: rem(201);
        top: rem(-222);
        left: calc(50% - min(50vw, 57.5%));
        z-index: 0;
    }
}

.blog__inner {
    padding-top: rem(80);

    @include mq(md) {
        padding-top: rem(100);
    }
}

.blog__items {
    margin-top: rem(24);
    display: flex;
    flex-direction: column;
    gap: rem(39);

    @include mq(md) {
        margin-top: rem(80);
        flex-direction: row;
        gap: rem(40);
    }
}

.blog__item {
    @include mq(md) {
        width: calc((100% -  rem(40) * 2) / 3);
    }
}

.blog__button {
    margin-top: rem(39);
    margin-right: rem(4);
    text-align: center;
    padding-bottom: rem(4);

    @include mq(md) {
        margin-top: rem(80);
    }
}