@use "global" as *;

.breadcrumb {
    font-size: rem(14);
    color: $font-color;
}

.breadcrumb__items {
    display: flex;
    align-items: center;
}

.breadcrumb__item:not(:first-child) {
    margin-left: rem(8);
}

.breadcrumb__item img {
    width: rem(4);
    height: rem(8);
}