@use "global" as *;

.campaign {
    overflow: hidden;
    height: 100%;
}

.campaign__content {
    margin-top: rem(28);
    position: relative;
    
    @include mq(md) {
        margin-top: rem(40);
        padding-bottom: rem(4);
    }
}

.campaign__Swiper {
    margin-right: calc(50% - 50vw);
}

.campaign__swiper-wrapper {
    margin-bottom: rem(10);
    padding-left: rem(4);
}

.campaign__item {
    height: auto;
}

.campaign__swiper-button {
    position: absolute;
    top: rem(-84);
    right: rem(-10);
    width: rem(260);
}

.campaign__prev-button,
.campaign__next-button {
    transition: all 0.2s;
}

.campaign__button {
    text-align: center;
    margin-top: rem(30);

    @include mq(md) {
        margin-top: rem(66)
    }
}