@use "global" as *;

.campaign {
    overflow: hidden;
    height: 100%;
}

.campaign {
    .swiper-button-prev,
    .swiper-button-next {
        height: rem(80);
        width: rem(80);
    }
    
    .swiper-button-prev::after,
    .swiper-button-next::after {
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: rem(80);
        width: rem(80);
        margin: auto;
    }
    
    /* 前への矢印カスタマイズ */
    .swiper-button-prev::after {
        background-image: url(../images/common/prev.png);
    }
    
    /* 次への矢印カスタマイズ */
    .swiper-button-next::after {
        background-image: url(../images/common/next.png);
    }
    
    /* 画像サイズ調整 */
    .swiper-slide img {
        width: 100%;
    }
    
    .swiper-wrapper {
        height: inherit;
    }
}


.campaign__content {
    margin-top: rem(28);
    position: relative;
    
    @include mq(md) {
        margin-top: rem(40);
        padding-bottom: rem(4);
    }
}

.campaign__Swiper {
    margin-right: calc(50% - 50vw);
}

.campaign__swiper-wrapper {
    margin-bottom: rem(10);
    padding-left: rem(4);
}

.campaign__item {
    height: auto;
}

.campaign__swiper-button {
    position: absolute;
    top: rem(-84);
    right: rem(-10);
    width: rem(260);
}

.campaign__prev-button,
.campaign__next-button {
    transition: all 0.2s;
}

.campaign__button {
    text-align: center;
    margin-top: rem(30);

    @include mq(md) {
        margin-top: rem(66)
    }
}