@use "global" as *;

.header {
    width: 100%;
    height: rem(80);
    position: fixed;
    background-color: rgba(13, 14, 54, 0.68);
    z-index: 4;

    @include mq(md) {
        height: rem(90);
    }
}

.header__inner {
    height: inherit;
    display: flex;
    align-items: center;
}

.header__logo {
    width: rem(102);
    margin-left: rem(15);

    @include mq(md) {
        width: rem(133);
        margin-left: rem(40);
    }
}

.header__link {
    display: block;
    width: rem(102);
    line-height: 1;

    @include mq(md) {
        width: rem(133);
    }
}

.header__nav-button {
    position: absolute;
    top: rem(28);
    right: rem(15);
}