@use "global" as *;

.loading {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.loading__wrapper {
    width: 100%;
    height: inherit;
}

.loading__image-wrapper {
    display: flex;
    height: inherit;
}

.loading__left,
.loading__right {
    height: inherit;
    width: 50vw;
    aspect-ratio: 720 / 768;
    overflow: hidden;
    opacity: 0;
}

.loading__left img,
.loading__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loading__left img {
    object-position: right;
}

.loading__right img {
    object-position: left;
}

.loading__title {
    position: absolute;
    top: 49.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $green;
    z-index: -1;
    text-align: center;
    display: none;
}

.loading__title--white {
    color: $white;
    z-index: 2;
    display: none;
}

.loading__main-title {
    font-family: $number-font-family;
    text-transform: uppercase;
    font-size: rem(80);
    font-weight: $regular;
    letter-spacing: 0.525em;
    line-height: 1.25;
    text-indent: 0.53em;
}

.loading__sub-title {
    font-family: $english-font-family;
    font-size: rem(20);
    font-weight: $regular;
}

.loading.is-active {
    opacity: 0;
    visibility: hidden;
}

.loading__title.is-active {
    animation: fadeIn 1s forwards ease;
}

.loading__title--white.is-active {
    animation: fadeIn 1s forwards ease;
}

.loading__left.is-active,
.loading__right.is-active {
    animation: slideUpAnime 2s forwards ease-out;
    // opacity: 1;
}

@keyframes slideUpAnime {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}