@use "global" as *;

.mainview {
    width: 100%;
    height: 100vh;
    position: relative;
}

.mainview__wrapper {
    height: inherit;
}

.mainview__Swiper {
    height: inherit;
}

.mainview__image {
    height: inherit
} 

.mainview__image picture {
    display: block;
    height: inherit;
}

.mainview__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainview__title-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    z-index: 1;
    text-align: center;
}

.mainview__main-title {
    font-family: $number-font-family;
    text-transform: uppercase;
    font-size: rem(40);
    font-weight: $regular;
    letter-spacing: 0.53em;
    line-height: 1.25;
    text-indent: 0.54em;

    @include mq(md) {
        font-size: rem(80);
    }
}

.mainview__sub-title {
    font-family: $english-font-family;
    font-size: rem(20);
    font-weight: $regular;
}