@use "global" as *;

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {

    @include mq(md) {
        display: block;
    }
}

.modal__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32, 32, 32, 0.8);
    // z-index: 6;
}

.modal__container {
    max-width: rem(920);
    max-height: 90vh;
    overflow-y: auto;
}

.modal__content img {
    max-width: 100%;
    max-height: 90vh;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}