@use "global" as *;

.pagetop {
    position: fixed;
    bottom: rem(15);
    right: rem(15);

    @include mq(md) {
        bottom: rem(20);
        right: rem(20);
    }
}


.pagetop__button {
    display: block;
    width: rem(48);
    height: rem(48);

    @include mq(md) {
        width: rem(80);
        height: rem(80);
    }
}