@use "global" as *;

.page-information__breadcrumb {
    margin-top: rem(8);
}

.page-information__content {
    position: relative;
}

.page-information__content::before {
    position: absolute;
    background-image: url(../images/common/fish2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    z-index: -1;
    width:rem(120) ;
    height: rem(55);
    top: rem(-75);
    left: calc(50% - min(48vw, rem(635)));
    
    @include mq(md) {
        width:rem(301) ;
        height: rem(138);
    }
}

.page-information__items {
    display: flex;
    justify-content: space-between;

    
}

.page-information__item {
    position: relative;
    display: inline-block;
    font-size: rem(14);
    line-height: 1.5;
    font-weight: $regular;
    color: $green;
    width: rem(102);
    height: rem(60);
    border: 1px solid $pale-green;
    background-color: $pale-green;
    text-align: center;

    @include mq(md) {
        font-size: rem(24);
        line-height: 1;
        width: rem(300);
        height: rem(90);
        padding-left: rem(64);
    }
}


.page-information__item a {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-information__item:nth-of-type(1)::before {
    @include mq(md) {
        position: absolute;
        background-image: url(../images/common/information-icon-1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        width: rem(64);
        height: rem(64);
        top: 50%;
        transform: translateY(-50%);
        left: rem(30);
    }
}

.page-information__item:nth-of-type(2)::before {
    @include mq(md) {
        position: absolute;
        background-image: url(../images/common/information-icon-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        width: rem(64);
        height: rem(64);
        top: 50%;
        transform: translateY(-50%);
        left: rem(18);
    }
}

.page-information__item:nth-of-type(3)::before {
    @include mq(md) {
        position: absolute;
        background-image: url(../images/common/information-icon-3.svg);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        width: rem(64);
        height: rem(64);
        top: 50%;
        transform: translateY(-50%);
        left: rem(18);
    }
}

.page-information__item.current {
    color: $white;
    background-color: $green;
    border: 1px solid $green;
}

.page-information__item.current:nth-of-type(1)::before {
    mask-image:  url(../images/common/information-icon-1.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    background-color: $white;
}

.page-information__item.current:nth-of-type(2)::before {
    mask-image:  url(../images/common/information-icon-2.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    background-color: $white;
}

.page-information__item.current:nth-of-type(3)::before {
    mask-image:  url(../images/common/information-icon-3.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    background-color: $white;
}

.page-information__content-item {
    margin-top: rem(16);

    @include mq(md) {
        margin-top: rem(24);
    }
}