@use "global" as *;

.page-privacypolicy__breadcrumb {
    margin-top: rem(8);
}

.page-privacypolicy__content {
    position: relative;
}

.page-privacypolicy__content::before {
    position: absolute;
    background-image: url(../images/common/fish2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    width: rem(120);
    height: rem(55);
    top: rem(-20);
    left: calc(50% - min(48vw, rem(635)));
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-75);
    }
}


.page-privacypolicy__inner.inner {
    @include mq(md) {
        max-width: rem(850);
    }
}

.page-privacypolicy__title {
    font-size: rem(24);
    font-weight: $medium;

    @include mq(md) {
    font-size: rem(32);
    }
}

.page-privacypolicy__wrapper {
    margin-top: rem(40);
    font-size: rem(16);
    font-weight: $regular;
    line-height: 2;
}

.page-privacypolicy__item {
    margin-top: rem(32);
}

.page-privacypolicy__sub-items {
    list-style-type: decimal;
    margin-left: rem(16);
}