@use "global" as *;

.page-contact {
    position: relative;
    max-width: rem(600);
    margin-left: auto;
    margin-right: auto;

    @include mq(md) {
        max-width: rem(750);
    }
}

.page-contact::before {
    position: absolute;
    background-image: url(../images/common/fish2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    width: rem(120);
    height: rem(55);
    top: rem(-25);
    left: calc(50% - min(46vw, rem(620)));
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-70);
    }
}

.page-contact__message {
    text-align: center;
    line-height: 1;
}

.page-contact__text {
    margin-top: rem(40);
    font-size: rem(16);
    text-align: center;
    line-height: 1.46;
}
