@use "global" as *;

.page-contact__breadcrumb {
    margin-top: rem(8);
}

.page-contact__content {
    position: relative;
}

.page-contact__content::before {
    position: absolute;
    background-image: url(../images/common/fish2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    width: rem(120);
    height: rem(55);
    top: rem(-20);
    left: calc(50% - min(48vw, rem(635)));
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-75);
    }
}

.page-contact__inner.inner {
    @include mq(md) {
        max-width: rem(700);
    }
}

.page-contact__message {
    text-align: center;
}

.page-contact__text {
    margin-top: rem(40);
    font-size: rem(16);
    text-align: center;
}
