@use "global" as *;


.pc-nav {
    height: inherit;
    color: $white;
    margin-left: auto;
    // position: absolute;
    // top: 50%;
    // right: rem(40);
    // transform: translateY(-50%);
}


.pc-nav__list {
    height: inherit;
    display: flex;
    align-items: center;
}

.pc-nav__item {
    height: inherit;
}

.pc-nav__link {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 min((20 / 1440) * 100vw,rem(20));
    width: 100%;
    position: relative;
}

.pc-nav__link::after {
    position: absolute;
    bottom: rem(22.5);
    left: 0;
    content: '';
    width: 100%;
    height: rem(1);
    background-color: $white;
    transition: all 0.2s;
    transform: scaleX(0);
}

.pc-nav__link:hover::after {
    width: 100%;
    transform: scaleX(1);
}

.pc-nav__english {
    font-size: rem(18);
    font-family: $english-font-family;
    line-height: 1;
    font-weight: $regular;
}

.pc-nav__japanese {
    font-size: rem(10);
    font-weight: $regular;
    margin-top: rem(4);
    line-height: 1.5;
}