@use "global" as *;

.tag {
    display: inline-block;
    font-size: rem(12);
    line-height: 1;
    font-weight: $regular;
    color: $green;
    padding: rem(4) rem(12);
    border: 1px solid $green;

    @include mq(md) {
        padding: rem(6) rem(16);
    }
}
