@use "global" as *;

.voice-card {
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    width: rem(300); //仮
}

.voice-card__inner {
    padding: rem(15) rem(16) rem(24);
}

.voice-card__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(15);

    @include mq(md) {
        align-items: baseline;
    }
}

.voice-card__title-block {
    width: 43.2%; //後で変更

    @include mq(md) {
        margin-bottom: rem(8);
    }
}

.voice-card__header {
    @include mq(md) {
        display: flex;
        justify-content: space-between;
    }
}

.voice-card__information {
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1.5;
}

.voice-card__tag {
    flex: 0 0 auto;
}

.voice-card__title {
    font-size: rem(16);
    font-weight: $medium;
    margin-top: rem(4);
    padding-bottom: rem(4);
    border-bottom: 1px solid $green;

    @include mq(md) {
        font-size: rem(24);

    }
}

.voice-card__image {
    aspect-ratio: 151 / 117;
    overflow: hidden;
    width: 43.8%; //後で変更
}

.voice-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.voice-card__text {
    font-size: rem(16);
    font-weight: $regular;
    line-height: 1.5;
}