@use "global" as *;

.voice__layout {
    margin-top: rem(80);
    
    @include mq(md) {
        margin-top: rem(140);
    }

}
.voice__content {
    position: relative;
    padding-bottom: rem(4);
    margin-left: auto;
    margin-right: auto;
    max-width: rem(600);

    @include mq(md) {
        max-width: none;
    }
}

.voice__content::before {
    @include mq(md) {
        position: absolute;
        background-image: url(../images/common/fish2.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        width:rem(301) ;
        height: rem(135);
        top: rem(-214);
        left: calc(50% - min(50vw, 57%));
    }
}

.voice__content::after {
    @include mq(md) {
        position: absolute;
        background-image: url(../images/common/sea-horse.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        width:rem(71) ;
        height: rem(161);
        bottom: rem(-65);
        right: calc(50% - min(50vw, 50%));
    }
}

.voice__items {
    margin-top: rem(40);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(40);
    
    @include mq(md) {
        margin-top: rem(30);
        grid-template-columns: repeat(2, 1fr);
    }
}

.voice__button {
    margin-top: rem(39);
    margin-right: rem(4);
    text-align: center;

    @include mq(md) {
        margin-top: rem(80);
    }
}