@use "global" as *;

.voice__layout {
    margin-top: rem(80);
    
    @include mq(md) {
        margin-top: rem(140);
    }

}
.voice__content {
    position: relative;
    padding-bottom: rem(4);
}

.voice__content::before {
    @include mq(md) {
        position: absolute;
        background-image: url(../images/common/fish2.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        width:rem(301) ;
        height: rem(135);
        top: rem(-214);
        left: calc(50% - min(50vw, 57%));
    }
}

.voice__content::after {
    @include mq(md) {
        position: absolute;
        background-image: url(../images/common/sea-horse.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        width:rem(71) ;
        height: rem(161);
        bottom: rem(-65);
        right: calc(50% - min(50vw, 50%));
    }
}

.voice__items {
    margin-top: rem(40);
    display: flex;
    flex-direction: column;
    gap: rem(40);

    @include mq(md) {
        margin-top: rem(30);
        flex-direction: row;
    }
}

.voice__button {
    margin-top: rem(40);
    margin-right: rem(5);
    text-align: center;

    @include mq(md) {
        margin-top: rem(80);
    }
}